[Unit]
Description=A lightweight Wayland notification daemon
Documentation=man:mako(5)
PartOf=graphical-session.target

[Service]
Type=fork
ExecStart=/usr/bin/mako

[Install]
WantedBy=sway-session.target
