[Unit]
Description=A simple notification daemon with a GTK gui for notifications and the control center
PartOf=graphical-session.target

[Service]
Type=fork
ExecStart=/usr/bin/swaync

[Install]
WantedBy=sway-session.target
